<!DOCTYPE html>
<html>
    <body>
        <div style="background-color:#eee;padding:10px 20px;">
            <center>
                <h1>Subscription Verification</h2>
            </center>
        </div>
        <center>
            <h3>Thanks for subscribing to <a href="https://harker-hackers.github.io/">Harker Hackers</a>!</h3>
            <p>There's one step left. Please click <a href="https://harker-hackers.herokuapp.com/authorized/{{ code }}/{{ email }}">here</a> to verify this email address. <br>
            Not you? Ignore this email.</p>
        </center>
    </body>
    <footer>
        <hr>
        <p>This was an automated email. Responses won't be read.</p>
    </footer>
</html>